<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2>User info</h2>
<%= image_tag @user.get_profile_image(100,100) %>
<table>
  <tbpdy>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </tbpdy>
</table>
<%= link_to "edit", edit_user_path(current_user.id) %>

<h2>New book</h2>
<%= form_with model: @book do |f| %>
  <label for="book_title">Title</label>
  <%= f.text_field :title, id:"book_title" %>
  <labrl for="book_opinion">Opinion</labrl>
  <%= f.text_area :body, id:"book_opinion" %>
  <%= f.submit "Create Book" %>
<% end %>

<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= link_to user_path(book.user.id) do %>
            <%= image_tag book.user.profile_image %>
          <% end %>
        </td>
        <td><%= link_to book.title, book_path(book.id) %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>