<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>User info</h1>
<%= image_tag @user.get_profile_image(100,100) %>
<table>
  <tbpdy>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </tbpdy>
</table>
<%= link_to "edit", edit_user_path(current_user.id) %>

<h1>New book</h1>
<%= form_with model: @book do |f| %>
  <label for="book_title">Title</label>
  <%= f.text_field :title, id:"book_title" %>
  <labrl for="book_opinion">Opinion</labrl>
  <%= f.text_area :body, id:"book_opinion" %>
  <%= f.submit "Create Book" %>
<% end %>