<%= render 'users/user', user: @user %>

<%= render 'books/new', book: @book %>

<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(@book_detail.user.id) do %>
          <%= image_tag @book_detail.user.get_profile_image(100,100) %>
          <%= @book_detail.user.name %>
        <% end %>
      </td>
      <td><%= link_to @book_detail.title, book_path(@book_detail.id) %></td>
      <td><%= @book_detail.body %></td>
      <td><%= link_to "Edit", edit_book_path(@book_detail.id)%></td>
      <td><%= link_to 'Destroy', book_path(@book_detail.id), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
    </tr>
  </tbody>
</table>